- body_classes << "single_form"

#single_form

  %h1= t('please_login')
  
  - form_for(resource_name, resource, :url => session_path(resource_name)) do |f|
    %p
      = f.label :login
      = f.text_field :login, :class => 'textbox', :maxlength => 40, :size => 40
    %p
      = f.label :password
      = f.password_field :password, :class => 'textbox password', :maxlength => 40, :size => 40
    - if devise_mapping.rememberable?
      %p.remember_me
        = f.check_box :remember_me, :class => 'checkbox', :checked => 'false', :value => 1
        = f.label :remember_me, t('remember_me_in_this_browser'), :class => "checkbox"
    %p.buttons
      = f.submit t('login')

/ = render :partial => "devise/shared/links"
/ 
/ %p.version
/   = t('powered_by')
/   %a{ :href => "http://radiantcms.org" } Radiant CMS
/   = t('version')   
/   = Radiant.loaded_via_gem? ? "#{Radiant::Version} (gem)." : "#{Radiant::Version}."