#single_form
  
  %h1
    #{t('edit')} #{resource_name.to_s.humanize}
  
  %h2
    #{link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}
    
  - form_for(resource_name, resource, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
    %p
      = f.label :name, t('name')
      = f.text_field :name, :class => 'textbox', :maxlength => 40, :size => 40
    
    %p
      = f.label :email, t('email')
      = f.text_field :email, :class => 'textbox', :maxlength => 40, :size => 40, :type => "email"
    
    %p
      %em (leave blank if you don't want to change it)
      = f.label :password, t('password')
      = f.password_field :password, :class => 'textbox', :maxlength => 40, :size => 40
      
    %p
      %em (We need this to save changes)
      = f.label :current_password, t('current_password')
      = f.password_field :current_password, :class => 'textbox', :maxlength => 40, :size => 40
    
    %p.buttons
      = f.submit t('buttons.save_and_continue')
      = render "shared/links"
      
= render "shared/version"