#single_form
  
  %h1= t('devise.registrations.link')
    
  - form_for(resource_name, resource, :url => registration_path(resource_name)) do |f|
    %p
      = f.label :name, t('name')
      = f.text_field :name, :class => 'textbox', :maxlength => 40, :size => 40
    
    %p
      = f.label :username, t('username')
      = f.text_field :username, :class => 'textbox', :maxlength => 40, :size => 40
  
    %p
      = f.label :email, t('email')
      = f.text_field :email, :class => 'textbox', :maxlength => 40, :size => 40, :type => "email"
    
    %p
      = f.label :password, t('password')
      = f.password_field :password, :class => 'textbox', :maxlength => 40, :size => 40
      
    %p
      = f.label :password_confirmation, t('password_confirmation')
      = f.password_field :password_confirmation, :class => 'textbox', :maxlength => 40, :size => 40
    
    %p.buttons
      = f.submit t('devise.registrations.link')
      = render "shared/links"
      
= render "shared/version"